:root {
  --vs-primary: 29 92 255;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  --lerp-0: 1; /* === sin(90deg) */
  --lerp-1: calc(sin(30deg));
  --lerp-2: calc(sin(20deg));
  --lerp-3: calc(sin(10deg));
  --lerp-4: 0;
  --transition: ease;
}

body {
  background-size: cover;
  background-attachment: fixed;
  background-image: url(grand-peaks-mount-cook.avif);
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: Poppins, sans-serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  position: relative;
  width: 100px;
  height: 100px;
  background: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:nth-of-type(2) {
  top: 125px;
}

.card:nth-of-type(3) {
  top: 250px;
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover {
  /* transform: rotate(-5deg) scale(1.1); */ /*rotation effect */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-20deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
  /* background-color: #a7d0ff; */ /*For colour*/
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
  text-align: center;
}

.card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}

body {
  background-color: #440030;
  padding: 20px;
}

button.primary {
  display: inline-block;
  font-size: 0.8rem;
  color: #fff !important;
  background: rgb(var(--vs-primary) / 100%);
  padding: 13px 25px;
  border-radius: 17px;
  transition: background-color 0.1s ease;
  transition: all 0.25s ease;
  border: 0;
  cursor: pointer;
  box-shadow: 0 10px 20px -10px rgb(var(--vs-primary) / 50%);
  &:hover {
    box-shadow: 0 20px 20px -10px rgb(var(--vs-primary) / 50%);
    transform: translateY(-5px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/open-props.min.css";

/*:root {
  --lerp-0: 1;
  --lerp-1: 0.5625;
  --lerp-2: 0.25;
  --lerp-3: 0.0625;
  --lerp-4: 0;
}*/

.block:nth-of-type(1) {
  --hue: 10;
}
.block:nth-of-type(2) {
  --hue: 210;
}
.block:nth-of-type(3) {
  --hue: 290;
}
/* .block:nth-of-type(4) {
  --hue: 340;
}
.block:nth-of-type(5) {
  --hue: 30;
}
.block:nth-of-type(6) {
  --hue: 220;
}
.block:nth-of-type(7) {
  --hue: 320;
}
.block:nth-of-type(8) {
  --hue: 280;
}
.block:nth-of-type(9) {
  --hue: 240;
} */

.blocks {
  display: flex;
  list-style-type: none;
  padding: var(--size-2);
  border-radius: var(--radius-3);
  gap: var(--size-4);
  background: hsl(0 0% 100% / 0.5);
  box-shadow: 0 2px 0 0 hsl(0 0% 100% / 0.5) inset,
    0 2px 0 0 hsl(0 0% 25% / 0.5);
  align-items: center;
  justify-content: center;
  align-content: center;
}

.blocks:hover {
  --show: 1;
}

.block {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  align-content: center;
  transition: all 0.2s;
  flex: calc(0.2 + (var(--lerp, 0) * 1.5));
  max-width: 100px;
  position: relative;
}

.block:after {
  content: "";
  width: 5%;
  aspect-ratio: 1;
  background: var(--text-1);
  position: absolute;
  bottom: 10%;
  left: 50%;
  border-radius: var(--radius-3);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.block:before {
  content: "";
  position: absolute;
  width: calc(100% + var(--size-4));
  bottom: 0;
  aspect-ratio: 1 / 2;
  left: 50%;
  transition: transform 0.2s var(--transition);
  transform-origin: 50% 100%;
  transform: translateX(-50%) scaleY(var(--show, 0));
  z-index: -1;
}

.block .block__item {
  transition: outline 0.2s var(--transition);
  outline: transparent var(--size-1) solid;
}

.block svg {
  width: 80%;
  transition: all 0.2s var(--transition);
  stroke: var(--gray-1);
}

:is(.block:focus-visible) .block__item {
  outline: var(--gray-1) var(--size-1) solid;
  border-radius: var(--radius-3);
}

.block {
  outline: none;
}

.block__item {
  width: 100%;
  aspect-ratio: 1;
  border-radius: var(--radius-2);
  background: linear-gradient(hsl(0 0% 100% / 0.1), transparent),
    hsl(var(--hue, 10) 70% 60%);
  display: grid;
  place-items: center;
  transition: all 0.2s var(--transition);
  box-shadow: 0 2px 0 0 hsl(0 0% 100% / 0.5) inset,
    0 2px 0 0 hsl(0 0% 25% / 0.5);
  transform-origin: 50% 100%;
  position: relative;
  translate: 0 calc(var(--lerp) * -75%);
}

/*@media(prefers-color-scheme: dark) {
}*/

.blocks {
  background: hsl(0 0% 0% / 0.5);
}

:is(.block:hover, .block:focus-visible) {
  --lerp: var(--lerp-0);
  z-index: 5;
}
.block:has(+ :is(.block:hover, .block:focus-visible)),
:is(.block:hover, .block:focus-visible) + .block {
  --lerp: var(--lerp-1);
  z-index: 4;
}
.block:has(+ .block + :is(.block:hover, .block:focus-visible)),
:is(.block:hover, .block:focus-visible) + .block + .block {
  --lerp: var(--lerp-2);
  z-index: 3;
}
.block:has(+ .block + .block + :is(.block:hover, .block:focus-visible)),
:is(.block:hover, .block:focus-visible) + .block + .block + .block {
  --lerp: var(--lerp-3);
  z-index: 2;
}
.block:has(
    + .block + .block + .block + :is(.block:hover, .block:focus-visible)
  ),
:is(.block:hover, .block:focus-visible) + .block + .block + .block + .block {
  --lerp: var(--lerp-4);
  z-index: 1;
}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.bottom-navbar .block {
  color: white;
  text-align: center;
}

.bottom-navbar .block__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardForTime {
  width: 250px;
  height: 100px;
  background: rgb(17, 4, 134);
  border-radius: 15px;
  box-shadow: rgb(0, 0, 0, 0.7) 5px 10px 50px, rgb(0, 0, 0, 0.7) -5px 0px 250px;
  display: flex;
  color: white;
  justify-content: center;
  position: fixed;
  top: 20px;
  right: 20px;
  flex-direction: column;
  background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1000;
}

.cardForTime:hover {
  box-shadow: rgb(0, 0, 0) 5px 10px 50px, rgb(0, 0, 0) -5px 0px 250px;
}

.time-text {
  font-size: 25px;
  margin-left: 15px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.time-sub-text {
  font-size: 15px;
  margin-left: 5px;
}

.day-text {
  font-size: 15px;
  margin-top: 0px;
  margin-left: 15px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.moon {
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.3s ease-in-out;
}

.cardForTime:hover > .moon {
  font-size: 23px;
}

/* From Uiverse.io by aadium */
.cardForContent {
  width: 550px;
  height: 400px;
  background: #15001f;
  font-size: 14px;
  font-family: monospace;
  overflow: hidden;
}

.dialog {
  background: none;
  border: none;
}

.titlebar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 21px;
  font-weight: 450;
  background-color: #2e0043;
  width: 100%;
  text-align: right;
}

.cardForContent button {
  width: 40px;
  height: 35px;
  margin-left: -5px;
  border: 0;
  outline: 0;
  background: transparent;
  transition: 0.2s;
}

button svg path,
button svg rect,
button svg polygon {
  fill: #ffffff;
}

button svg {
  width: 10px;
  height: 10px;
}

.close:hover {
  background-color: #e81123;
}

.maximize:hover {
  background-color: #c042ff2e;
}

.minimize:hover {
  background-color: #c042ff2e;
}

#pre {
  overflow: auto;
  width: 100%;
  padding: 10px;
  height: auto;
  color: #bafff8;
}

.curlies {
  color: #ff0000;
}

.sc {
  color: #e600ff;
}

.rounds {
  color: #ffffff;
}

.operator {
  color: #ffff00;
}

.s1 {
  color: #22ff00;
}

.s2 {
  color: #4281ff;
}

.s3 {
  color: #ff4284;
}

.s4 {
  color: #ffae00;
}

.s5 {
  color: #ffffff;
}

.s6 {
  color: #ffff00;
}
